<nz-layout>
  <nz-sider class="menu-pc" nzCollapsible [(nzCollapsed)]="isCollapsed"  [nzReverseArrow]="isReverseArrow">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <span><i nz-icon type="file"></i><span class="nav-text">nav 1</span></span>
      </li>
    </ul>
  </nz-sider>
  <nz-drawer class="menu-mobile" [nzClosable]="false" [nzVisible]="mobileMenu" nzPlacement="left" >
    <ul nz-menu nzMode="inline">
      <li nz-menu-item>
        <span><i nz-icon type="file"></i><span class="nav-text">nav 1</span></span>
      </li>
    </ul>
    <button class="menu-mobile-handle" nz-button nzType="primary" nzSize="large" (click)="switch()">
      <i nz-icon nzType="menu-unfold" nzTheme="outline" *ngIf="!mobileMenu"></i>
      <i nz-icon nzType="menu-fold" nzTheme="outline" *ngIf="mobileMenu"></i>
    </button>
  </nz-drawer>
  <nz-layout class="main-body">
    <nz-header style="background: #fff; padding:0;"></nz-header>
    <nz-content style="margin:24px 16px 0;overflow: auto;">
      <div style="padding: 24px; background: #fff; text-align: center">
        ...
        <br />
        Really
        <br />...<br />...<br />...<br />
        long
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />... <br />...<br />...<br />...<br />...<br />...<br />
        content
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>