<nz-layout>
  <nz-sider class="menu-pc" nzCollapsible [(nzCollapsed)]="isCollapsed"  [nzReverseArrow]="isReverseArrow">
    <div class="logo">
      <img src="../assets/images/logo.jpg"/>
      <span *ngIf="!isCollapsed">卡比窝</span>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item *ngFor="let item of menu" [routerLink]="item.router" routerLinkActive="ant-menu-item-selected">
        <span><i nz-icon [type]="item.icon"></i><span class="nav-text">{{item.name}}</span></span>
      </li>
    </ul>
  </nz-sider>
  <nz-drawer class="menu-mobile" [nzClosable]="false" [nzVisible]="mobileMenu" nzPlacement="left" >
    <ul nz-menu nzMode="inline">
      <li nz-menu-item *ngFor="let item of menu" [routerLink]="item.router" routerLinkActive="ant-menu-item-selected">
        <span><i nz-icon [type]="item.icon"></i><span class="nav-text">{{item.name}}</span></span>
      </li>
    </ul>
    <button class="menu-mobile-handle" nz-button nzType="primary" nzSize="large" (click)="switch()">
      <i nz-icon nzType="menu-unfold" nzTheme="outline" *ngIf="!mobileMenu"></i>
      <i nz-icon nzType="menu-fold" nzTheme="outline" *ngIf="mobileMenu"></i>
    </button>
  </nz-drawer>
  <nz-layout class="main-body">
    <nz-header class="header">
      <div>
        <img src="../assets/images/logo.jpg"/>
        <span>卡比窝</span>
      </div>
    </nz-header>
    <nz-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>