.menu-mobile, .menu-mobile-handle {
    display: none;
}
.main-body {
    height: 100vh;
}
.header {
    display: none;
    background-color: #fff;
    >div {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 56px;
            height: 56px;
        }
    }
}
@media screen and (max-width: 980px) {
    .menu-pc {
        display: none;
    }
    .menu-mobile, .menu-mobile-handle {
        display: initial;
    }
    .main-body {
        height: auto;
    }
    .header {
        display: initial;
    }
}
.menu-mobile-handle {
    right: -40px;
    top: 70px;
    width: 40px;
    position: absolute;
    pointer-events: auto;
}
