.menu-mobile, .menu-mobile-handle {
    display: none;
}
.menu-pc {
    .logo {
        padding: 20px;
        text-align: center;
        img {
            width: 100%;
            display: block;
            border-radius: 4px;
        }
        span {
            color: #fff;
            font-size: 32px;
        }
    }
    ul {
        max-height: calc(100vh - 296px);
        overflow-y: auto;
    }
}
.main-body {
    height: 100vh;
    .footer {
        text-align: center;
        .beian {
            display:inline-block;
            text-decoration:none;
            height:20px;
            line-height:20px;
            img {
                float: left;
            }
            p {
                float:left;
                height:20px;
                line-height:20px;
                margin: 0px 0px 0px 5px; 
                color:#939393;
            }
        }
    }
}
.header {
    display: none;
    background-color: #fff;
    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;

        img {
            width: 56px;
            height: 56px;
        }
    }
}
nz-content {
    margin: 24px 16px 0;
    >.content {
        overflow: auto;
        height: 100%;
        border-radius: 4px;
        padding: 24px; 
        background: #fff; 
    }
}
.menu-mobile {
    .menu-mobile-handle {
        right: -40px;
    }
}
.menu-mobile-handle {
    // right: -40px;
    top: 70px;
    width: 40px;
    position: absolute;
    pointer-events: auto;
}
@media screen and (max-width: 980px) {
    .menu-pc {
        display: none;
    }
    .menu-mobile, .menu-mobile-handle {
        display: initial;
    }
    .main-body {
        height: auto;
        min-height: 100vh;
    }
    .header {
        display: initial;
    }
    nz-content >.content {
        min-height: calc(100vh - 160px);
    }
}
