.search {
    margin-bottom: 20px;
    .search-item {
        display: inline-block;
        margin-right: 15px;
        min-width: 150px;
        >* {
            width: 100%;
        }
    }
}
.search-mobile {
    display: none;
    margin-bottom: 20px;

}
.article-list {
    .article-item {
        width: 100%;
        cursor: pointer;
        .head {
            display: inline-block;
            width: 70px;
            height: 100%;
            vertical-align: top;
            margin-top: 5px;
        }
        .body {
            display: inline-block;
            width: calc(100% - 70px);
            height: 100%;
            >div {
                overflow: hidden;
            }
            .article-name {
                word-break: break-all;
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .search {
        display: none;
    }
    .search-mobile {
        display: block;
    }
}